body{
  background: url(https://wallpaperaccess.com/full/1378075.jpg);
  background-repeat: no-repeat ;
  background-size: cover;
  /* box-shadow: inset 0 0 10px 10000px black; */
}

.br1{
  border-radius: 2%;
}

.br2{
  border-radius: 10%;
}

.tw{
  color: white;
}