body{
  background: rgb(105,186,70);
  background: linear-gradient(315deg, rgba(105,186,70,1) 0%, rgba(81,209,139,1) 78%);
  /* box-shadow: inset 0 0 10px 10000px black; */
}

.br1{
  border-radius: 2%;
}

.br2{
  border-radius: 10%;
}

.tw{
  color: white;
}
